{
	"trailingComma": "all",
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"singleQuote": false,
	"printWidth": 90,
	"endOfLine": "lf",
	"overrides": [
		{
			"files": ["*.json", "*.yml", "*.**rc"],
			"options": {
				"tabWidth": 2
			}
		}
	]
}
